* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.burg {
    height: auto;
    background-color: rgb(221, 242, 151);
    margin: 30px;
    padding: 10px auto;
    border: 10px solid rgba(241, 207, 183, 0.478);
    text-align: center;
}
.chicken {
    margin: auto;
    display: block;
    width: 400px;
}
.head.one {
    background-color: rgb(184, 213, 213);
    text-align: center;
    width: 400px;
}
.numone {
    color: aliceblue;
    width: 300px;
    height: auto;
    text-align: center;
    margin: auto;
    padding: px;
    background-color: rgb(175, 169, 173);
}